{% extends 'base.html' %}

{% block head %}
{% load static %}
<script src="{% static 'orders/handlebars-v4.0.12.js' %}"></script>
<script src="{% static 'orders/scriptcart.js' %}"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script language="JavaScript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>

<title>Pinocchio's Menu</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <div class="well container-menu">
            <h1 class="box-1">Shopping Cart</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <form id="" method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    
                </tr>
                {% for form, instance in formsetzip %}
                <tr>
                    <td scope="row" class="col-xs-1">
                        {{ forloop.counter }}
                    </td>
                    <td class="col-xs-4">
                        {{ form.non_field_errors }}
                        {{ field.help_text }}
                        {{ field.errors }}
                        <strong>{{ instance.item.full_name }}</strong>
                    </td>
                    {% for field in form.visible_fields %}
                    <td class="col-xs-2">
                        {{ field }}
                    </td>
                    {% endfor %}
                    <td class="totalItem" class="col-xs-2">

                    </td>
                    <td hidden>
                        {{ instance.item.total_price|floatformat:2 }}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td><strong>Total:</strong></td>
                    <td></td>
                </tr>
            </table>
            <input type="submit" name="submit" value="Submit" />
        </form>
        
    </div>
</div>
<br>
{% endblock %}