{% extends 'base.html' %}

{% block head %}
<title>Welcome to Pinocchio's Pizza & Subs</title>
{% endblock %}

{% block body%}
<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-offset-1">
            <div class="well well-sm center-text">
                Pinocchio's Pizza & Subs
            </div>
            <p>Noch's has reached a landmark this year......50 years in business! We've been feeding Harvard and the surrounding area since 1966!</p>
        </div>

        <div class="col-md-3">
            <div class="well well-sm center-text">
                Ordering
            </div>
            <p>if you wish to order you have to be logged in</p>
        </div>
    </div>
</div>
{% endblock %}