{% extends 'base.html' %}
{% block head %}
<title>Log out!</title>
{% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <p>
                You are member of Pinochio's Pizza
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div class="well">
                <p>Now you are one of us, order your pizza Now!!</p>
            </div>

        </div>

    </div>

</div>


{% endblock %}